# Python
__pycache__/
*.pyc
.venv/
venv/
.idea

# Jupyter
.ipynb_checkpoints/

# Model checkpoints (büyük dosyalar, versiyon kontrolüne gerek yok)
models/*.pth
models/*.pt

# OS
.DS_Store


*.pt
.idea/
runs/